.info
	&__wrapper
		display: grid
		grid-template-columns: percent(820, 1760) 1fr 
		+adap('gap', 80, 20)
		align-items: start

	&__left
		position: relative
		display: flex

		&:after
			content: '' 
			position: absolute
			+adap('left', 20, 8)
			+adap('top', 20, 8)
			width: 100%
			height: 100%

			+adap('border-radius', 16, 12)
			border: 1px solid rgba(#fff, .2)

			pointer-events: none

	&__img 
		width: 100%
		object-fit: cover
		+adap('border-radius', 16, 12)
		aspect-ratio: 820 / 440
		height: auto

	&__right 
		display: grid
		justify-items: start
		+adap('gap', 40, 16)
		align-self: center
	
	&__text 
		display: grid
		+adap('gap', 16, 12)

		+adap('font-size', 20, 16)
		color: rgba($text, .8)

	@media (max-width: 991px)
		&__wrapper
			grid-template-columns: 100%

		&__left 
			order: 1
		
		

		
		
		
		
		
		
		
		
		
